
*{
    padding: 0;
    margin: 0;
}

body, html{
    width: 1440px;
    height: 1056px;
   
}

main{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    place-items: center;
    place-content: center;
}

.container{
    width: 1294px;
    height: 720px;
    background: hsl(218, 23%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container h2{
    margin-top: -30px;
    color: white;
    align-items: center;
    text-align: center;
}

.mini-container{
    width: 490px;
    height: 360px;
}

.atribuicao{
   width: 490px;
   height: 300px;
   background:  hsl(217, 19%, 24%);
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
}

.number{
    margin-top: -30px;
    width:490px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: hsl(150, 100%, 66%);
    font-size: 17px;
    letter-spacing: 3px;
}

.mensagem{
    margin-left: 40px;
    width: 400px;
    height:130px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    text-align: center;
    color:hsl(193, 38%, 86%);
    font-size:28px;
    font-weight: 800;
    font-family: Manrope;
}

.linha{
    width: 440px;
    height:15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:23px;
    margin-top: 20px ;

}

.linha div hr{
    margin-top: 6px;
    width:210px;
   color: hsl(217, 19%, 38%);
}

.linhaVertical{
    margin-left: 12px;  
    width:20px;
    display: flex;
    justify-content: center;

    
}

.linhaVertical div{
    width: 100px;
    rotate: 90deg;
    border-bottom: 3px solid hsl(220, 33%, 98%);
    transform: rotate(90deg);
}

.attribution{
    width: 490px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items:center;  
}

.attribution button{
    margin-left: 9px;
    margin-top:-60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    place-content: center;
    align-items: center;
    align-content: center;
    cursor:pointer;
    border: 0px;
}

.attribution button:hover{
    background-color: hsl(150, 100%, 66%);
    box-shadow: 0 0 20px hsl(150, 100%, 66%), 0 0 30px hsl(150, 100%, 66%), 
    0 0 10px hsl(150, 100%, 66%), 0 0 30px hsl(150, 100%, 66%);
}



.img{
    width: 20px;
    height: 20px;
    align-items: center;
    align-content: center;
}

@media (max-width: 500px){
    
main{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    place-items: center;
    place-content: center;
    background: hsl(218, 23%, 16%);
}

.container{
    width: 360px;
    height: 360px;
    background: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container h2{
   
    color: white;
    align-items: center;
    text-align: center;
    font-size: 20px;
}


.mini-container{
    width: 360px;
    height: 380px;
}

.atribuicao{
   width: 360px;
   height: 320px;
   background:  hsl(217, 19%, 24%);
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-items: center;
}

.number{
    margin-top: -20px;
    width:360px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: hsl(150, 100%, 66%);
    font-size: 17px;
    letter-spacing: 3px;
}

.mensagem{
    margin-left: 80px;
    width: 200px;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    color:hsl(193, 38%, 86%);
    font-size:20px;
    font-weight: 800;
    font-family: Manrope;
    box-sizing: border-box;
    
}

.linha{
    width: 320px;
    height:15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:18px;
    margin-top: 20px ;

}

.linha div hr{
    margin-top: 6px;
    width:150px;
   color: hsl(217, 19%, 38%);
}

.linhaVertical{
    margin-left: 12px;  
    width:20px;
    display: flex;
    justify-content: center;

    
}

.linhaVertical div{
    width: 100px;
    rotate: 90deg;
    border-bottom: 3px solid hsl(220, 33%, 98%);
}

.attribution{
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items:center;  
}

.attribution div{
    margin-left: 9px;
    margin-top:-60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
} 

.attribution div:hover{
    background-color: hsl(150, 100%, 66%);
    box-shadow: 0 0 20px hsl(150, 100%, 66%), 0 0 30px hsl(150, 100%, 66%), 
    0 0 10px hsl(150, 100%, 66%), 0 0 30px hsl(150, 100%, 66%);
}



.img{
 
    width: 20px;
    height: 20px;
    align-items: center;
    align-content: center;
}
}